:root {
  --bg-color: #fdfaf6;
  --text-color: #222;
  --accent-darkPink: #c73789;
  --accent-blue: #457b9d;
  --accent-pink: #FAA8D6;
  --muted: #888;
}

/* fonts */
/* Extra bold */
@font-face {
  font-family: Poppins; 
   src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
   font-weight: 800;
  font-style: normal;
}

/* Semi bold */
@font-face {
  font-family: Poppins; 
   src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
   font-weight: 600;
  font-style: normal;
}
/* Medium */
@font-face {
  font-family: Poppins; 
   src: url('fonts/Poppins-Medium.ttf') format('truetype');
   font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: Poppins; 
   src: url('fonts/Poppins-Regular.ttf') format('truetype');
   font-weight: 400;
  font-style: normal;
}
/* SemiBold Italc */
@font-face {
  font-family: Poppins; 
   src: url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
  font-style: italic;
}

/* Testing scroll effects */
.scroll-step {
  min-height: 40vh;
  position: relative;
}
.scroll-step .textBox,.textBox2
.scroll-step .introBox {
  position: sticky;
  top: 15vh;
}
.story-block {
  position: sticky;
  top: 20vh;
}
.scroll-step .introBox {
  position: sticky;
  top: 40%;
  transform: translateY(-50%);
}

.story-block .textBox,
.story-block .chart-wrapper {
  position: static;
  top: auto;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.introBox h1 {
  transform: scale(0.8);
  opacity: 0.3;
  transition: transform 0.2s linear;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-attachment: fixed;
  line-height: 1.6;
    background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(235, 235, 235) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(235, 235, 235) 1px, transparent 1px);


}
/* Nav */
.nav-bar {
  position: sticky;
  top: .5rem;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  background-color: var(--accent-pink);
  padding: 12px 30px;
  border-radius: 100px;
  width: fit-content; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
}
.nav-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-links li a:hover {
  color: var(--accent-darkPink);
}

.nav-links a.active {
  color: var(--bg-color);
}

/* Burger Menu (hidden on desktop) */
.burger {
  display: none;
  font-size: 22px;
  cursor: pointer;
  background: var(--accent-pink);
  padding: 10px 15px;
  border-radius: 50px;
}
/* Hero */
.hero {
position: relative; 
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden; 
}
.pile{
  position: absolute;
  bottom: 0;         
  width: 350px;        
  height: auto;
  top: 2rem;
  z-index: 0;          
  pointer-events: none; 
}

/* adjust space of the piles in hero */
.pile-left {
  left: -22rem;         
}
.pile-right {
  right: -22rem;       
}
.hero-content{
  position: relative;
  z-index: 1;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}
.line {
  font-size: 5rem;
  margin: 0.2rem 0;
}

.hero-subtitle {
  margin: 0;
}
.pink-highlight {
  display: inline-block;
  background: var(--accent-pink);
  color: black;
  padding: 0.3rem 1rem;
  transform: rotate(-5deg);
}

.text-highlight {
  display: inline-block;
  background: var(--accent-pink);
  color: black;
  padding: 0.3rem 1rem;
}

.textBox, .textBox2 {
  max-width: 1000px;
  margin: 0rem auto;
  margin-bottom: 0;
  padding: 0 2rem;
}
.textBox2{
  text-align: center;
}
h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
.subheader{
     font-family: 'Ibarra Real Nova', serif;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 0;
}
.subtitle {
  text-align: center;
  font-style: italic;
  color: var(--muted);
  margin-bottom: 4rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;

  margin-bottom: 0;
}

.chart-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
 
  background: white;
  padding: 1.5rem 1rem;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  box-sizing: border-box;
  border: 1px solid #EDEDED;
  border-radius: 8px;
}

.chart-wrapper > div {
  width: 100%;
}

.annotation {
  font-size: 0.9rem;
  color: var(--muted);
  margin-top: 10px;
  font-style: italic;
}

.highlight {
  color: var(--accent-darkPink);
  font-weight: 600;
}

.text-link {
  color: var(--accent-darkPink);
}

.text-link:hover {
  text-decoration: none;
}

/* Images */
.cutout {
  width: 100%;
  max-width: 220px; 
  height: auto;
  display: block;
  margin: .5rem auto;
}

section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introBox h1{
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  max-width: 650px;
  margin: 3rem auto;
  padding: 0 4rem;
  line-height: 115%;
}
.sectionSplitter h1{
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  margin: 0;
}
.sectionSplitter h2{
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

/* stylzie the wage map */

.vega-bind {
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 25px !important;
  justify-content: center;
  align-items: center;
}

.vega-bind-name {
  color: var(--text-color);
}

.vega-bind label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: white;
  border: 2px solid #eeeeee;
  border-radius: 50rem;
  transition: all 0.2s ease-in-out;
  font-size: 0.75rem;
  align-items: center;
  position: relative;
}


.vega-bind label:hover:not(:has(input[type="radio"]:checked)) {
  background: #fff0f6;
  border-color: var(--accent-pink);
}

.vega-bind label:has(input[type="radio"]:checked) {
  background: var(--accent-darkPink) !important; 
  color: white !important;
  border-color: var(--accent-darkPink) !important;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  transform: translateY(1px);
}

.vega-bind input[type="radio"]:checked + span {
  color: white !important;
}
/* Hide the ugly default radio circles */
.vega-bind input[type="radio"] {
  display: none;
}

/* for whit shirt intro */
.word {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 0.5rem;
  background: rgba(31, 31, 31,0.2); /* Subtle highlight */
  opacity: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.word span {
  position: relative;
  z-index: 2;
  opacity: 0;
  color: var(--text-color);
}
.anim-text-container {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.intro-wrapper, .ending-wrapper{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
max-width: 1050px;
  width: 100%;
  gap: 2.5rem;
}
.ending-wrapper{
  max-width: 100%;
 
}
.endingImage
{
 width: 50%;
 border-radius: 2rem;
}
.image-side {
  flex: 1 1 80%; 
  display: flex;
  justify-content: center;
}

.vega-tooltip {
      position: absolute;
      background: var(--bg-color);
      color: #fff;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.75rem;
      line-height: 1.4;
      pointer-events: none;
      box-shadow: 0 6px 25px rgba(0,0,0,0.2);
      opacity: 0;
      transition: opacity 0.15s ease;
      min-width: 160px;
      z-index: 100 !important;
    }

    .vega-tooltip .title {
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 6px;
      color: var(--text-color);
    }

    .vega-tooltip .row {
      display: flex;
      justify-content: space-between;
      margin-top: 2px;
    }

    .vega-tooltip .label {
      color: var(--muted);
    }

    .vega-tooltip .value {
      color: var(--accent-darkPink);
      margin-left: 1rem;
    }


/* highlights for keywords */
.keyword.meow::before { background: var(--accent-pink); }
.keyword.wash::before  { background: var(--accent-pink); } 
.keyword.cost::before  { background: var(--accent-pink); } 


.keyword::before {
  content: "";
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  border-radius: 0.5rem;
  z-index: -1;
}

section{
  margin: 4rem 2rem;
}

/* cursor styling */

.cursor-dot, 
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none; 
}

.cursor-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-pink);
}

.cursor-outline {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.1rem solid var(--accent-pink);
    transition: transform 0.15s ease-out, opacity 0.2s ease-in-out;
}

.factHeader{
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  color: var(--accent-darkPink);
}

.factBox{
  border: 2px solid var(--accent-pink);
  padding: 1rem;
}

.fact{
  text-align: center;
  font-style: italic;
  color: var(--muted);
}

.chart-grid{
  display: flex;
  flex-direction: row;
 gap: 2rem;
  justify-content: space-between;
 
  align-items: stretch;
}





@media (max-width: 960px) {
  section {
    margin: 4rem 1rem;
  }
  .textBox, .textBox2 {
    padding: 0 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .line {
    font-size: 2.5rem;
  }
  .chart-grid {
    flex-direction: column;
  }
  .word{
    font-size: 1.5rem;
  }

}

 img{
  align-items: center;
  width: 100%;
}


/* Queries */

/* Mobile Nav - burger*/
@media (max-width: 768px) {
  
  .nav-bar {
    position: sticky;
    top: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }
  .burger {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    position: relative;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--accent-pink);
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    box-sizing: border-box;
  }
  .burger-icon {
    display: block;
    transform: translateY(-1px); 
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 50px;
    border-radius: 24px;
  }
  .nav-links li a {
    font-size: 18px;
  }
  .nav-links.active {
    display: flex;
  }

  .word{
    font-size: 1rem;
  }


}